POSTGRES_DB=homestreamlab
POSTGRES_USER=homestreamlab_user
POSTGRES_PASSWORD=homestreamlab_password
POSTGRES_PORT=5433

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"